@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.titleBackground {
  background-image: url('https://img.freepik.com/vector-gratis/book-shelves-dtcorative-colorful-icon-poster_1284-6714.jpg?w=360&t=st=1682644672~exp=1682645272~hmac=2db283a439e14af920061b6906fc666796f54704419c1de99b6bf40ab89043e4');
}